* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.visual {
    height: 500px;
    position: relative;
}

.visual .visual-Swiper {
    height: 100%;
}

.visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visual .swiper-slide .text {
    width: 1280px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}